body {
    margin: 0;
    padding: 1rem;
    font-family: monospace;
}
header,
main,
footer {
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}
header {
    background-color: lightgray;
}
main {
    background-color: darkgray;
}
footer {
    background-color: gray;
}

